html,
body {
    min-height: 100%;
}

.layout-boxed html,
.layout-boxed body {
    height: 100%;
}

body {
    font-family: 'Source Sans Pro', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    overflow-x: hidden;
    overflow-y: auto;
    color: #000;
    background: #fafafa;
}

textarea {
    resize: none;
}


/*
 * Page: Login & Register
 * ----------------------
 */

.login-box {
    width: 360px;
    margin: 7% auto;
}

.login-box-body {
    background: #ffffff;
    padding: 25px;
    border-top: 0;
    color: #666;
    border-radius: 5px;
    box-shadow: 1px 2px 3px 2px #ddd;
}

.login-box-body h1 {
    font-size: 20px;
    margin: 0 0 20px 0;
}

.login-box-msg {
    margin: 0;
    text-align: center;
    padding: 0 20px 20px 20px;
}


/*Button*/

.btn-success {
    background-color: #00a65a;
    border-color: #008d4c;
}

.custom-btn {
    border-radius: 20px;
    padding: 10px 20px;
    font-size: 20px;
}


/* Layout */

.logo {
    width: 100px;
    height: 50px;
    position: absolute;
    fill: #fff;
    padding-top: 8px;
}

.navbar,
.navbar-default {
    background-color: #6c1d5f;
    border-bottom: 1px solid #dedede;
}

.navbar .fa,
.navbar-default .navbar-nav>li>a,
.navbar-default .navbar-nav>li>a:hover,
.navbar-default .navbar-nav>li>a:focus {
    color: #fff;
}

.navbar-default .navbar-nav>li>a:hover {
    background-color: #2e0c29;
}

.mrg-top {
    margin-top: 10px;
}

.content {
    /*margin-top: 80px*/
}

h1 {
    margin: 0 0 20px;
    font-size: 24px;
}

.highlight {
    color: #a1318f;
}

.box {
    border: 1px #ddd solid;
    margin-bottom: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 1px 2px 3px 2px #ddd;
    padding: 20px;
    clear: both;
}

.video-panel {
    min-height: 400px;
}
.fullWidthClass{
    position: fixed;
    right: 0;
    left: 0;
    width: 1170px;
    margin: 0 auto;
}
.score-val {
    padding-left: 5px;
    font-weight: bold;
}
/* Quiz Page */

.courseName{
   color:#a1318f; 
}
.quizVideo{
    width: 90%;
    margin-left: 6%;
    margin-top: 20px;
    height: 91%;
}
.videoWrapper{
    width: 90%;
    box-shadow: 1px 2px 3px 2px #ddd;
    border-radius: 5px;
    height: 550px;
    margin: 0 auto;
}
.readPDF{
    background-color: white;
}
.readPDF:hover{
    text-decoration: underline;
    background-color: white;
    color: #23527c;
}
.startQuiz{
    background-color: #1E8B7E;
    border-color: #1E8B7E;
    border-radius: 5px;
    padding: 6px 20px;
    font-size: 20px;
    color: white !important;
    font-size: larger;
}
.selectButton{
    background-color: #1E8B7E;
    border-color: #1E8B7E;
    border-radius: 5px;
    padding: 6px 20px;
    font-size: 20px;
    color: white !important;
    font-size: larger;
    cursor: pointer;
    height: 38px;
    top: 3px;
    margin-right: 10px;
    position: relative;
}
.selectButton:hover{
    background-color: #2abbaa;
    border-color: #2abbaa;
}
.cancelQuiz{
    background-color: white;
    color: grey;
    border: 2px solid #1E8B7E;
    border-radius: 5px;
    padding: 5px 20px;
    font-size: 20px;
    font-size: larger;
}
.cancelQuiz:hover{
    background: #e6e5e6;
    color: black;
}
.startQuiz:hover{
    background-color: #2abbaa;
    border-color: #2abbaa;
    border-radius: 5px;
    padding: 6px 20px;
    font-size: 20px;
    color: white !important;
    font-size: larger;
}
/*quiz page*/
.quiz-area{
    margin-top: 30px;
}
.timeValue{
        font-weight: bold;
   }
.timer {
       text-align: right;
   }
.questionNextSection{
    padding: 10px;
    box-shadow: 1px 2px 3px 2px #ddd;
    margin-top: 20px; 
    border-radius: 5px;
}

#options{
    list-style: none;
    padding: 15px;
}
#options label{
    font-weight: 100;
    font-size: small;
}   
.nextButton{
    text-align: right;
    background: #1E8B7E;
    border-radius: 5px;
    color: white !important;
}
.nextButton:hover{
    background-color: #2abbaa;
    color: white !important;
    border-radius: 5px;
}
.scoreArea{
    padding: 15px;
    box-shadow: 1px 2px 3px 2px #ddd;
    text-align: center;
}
.center-text{
    text-align: center;
}
.mainAreaAdmin{
    margin-top: 20px;
    border: 1px #ddd solid;
    margin-bottom: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 1px 2px 3px 2px #ddd;
    padding: 20px;
    clear: both;    
    width: 360px;
    margin-left: 30%;
}
.overAllPopUp-container{
    content: '';
    position: fixed;
    top: 0px;
    left: 0px;
    height: 100vh;
    width: 100vw;
    background: #0000006e;

}
.overAllPopUp{
    width: 34%;
    position: relative;
    top: 225px;
    margin: 0 auto;
    text-align: center;
    padding: 20px;
    background-color: #ffffff;
    color: black;
    margin: 0 auto;
    font-family: sans-serif;
    border-radius: 5px;
    font-weight: 400;
    z-index: 10000;
    width: 450px;
}
.popup-footer{
    padding-top: 20px;
    height: 60px;
}
.popup-footer .startQuiz{
    float: left;
}
.popup-footer .cancelQuiz{
    float: right;
}
.popUpButton{
font-size: 14px !important;
padding: 10px !important;
margin-right: 23px;
margin-top: 10px;
}
video::-internal-media-controls-download-button {
 display:none;
}
video::-webkit-media-controls-enclosure {
     overflow:hidden;
}
video::-webkit-media-controls-panel {
     width: calc(100% + 30px); /* Adjust as needed */
}
.cource-doc-container{
    position: relative;
    padding: 10px 0px 10px 0;
    font-size: large;
}
.cource{
    display: block;
    text-align: center;
}
.policy-doc{
    display: block;
    text-align: center;
}
.large-text{
    font-size: large;
}
.cource-options{
    background: #6b205d;
    border: 0;
}
a{
    cursor: pointer;
}
.download-report{
    margin: 10px;
    text-align: center;
}
